:root {
 font-family: sans;
}

img {
 overflow: hidden;
 background-color: pink;
}

body {
 background-color: black;
 color: white;
 width: 850px;
 margin: 0 auto;
 display: grid;
 grid-template-columns: 33% auto;
 grid-auto-rows: min-content;
 grid-gap: 0em 1em;
 padding-bottom: 1em;
}

body > header {
 grid-column: 1 / -1;
 display: grid;
 grid-auto-flow: column;
 grid-template-rows: min-content min-content;
 grid-template-columns: max-content min-content 1fr;
 align-items: center;
 justify-items: center;
 box-sizing: border-box;
 padding-left: 2em;
 padding-bottom: 1em;
}

body > header > h1 {
 font-size: 18pt;
}

body > header > p {
 margin: 0;
}

body > header > img {
 grid-row: 1 / 3;
}

body > header > address {
 grid-row: 1 / 3;
 font-size: 14pt;
 font-weight: bold;
}

body > header > address > a {
 color: white;
 text-decoration: none;
}

body > aside {
 grid-row: 2 / 4;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
}

body > aside > nav {
 background-color: white;
 color: black;
 box-sizing: border-box;
 flex: 2;
}

body > aside > nav > ul {
 list-style-type: none;
 padding: 0;
 margin: 0;
 display: grid;
 grid-template-columns: 1fr 1fr;
}

body > aside > nav > ul > li > figure {
 margin: 0;
}

body > aside > p {
 padding: 1em;
 background-color: #ff0033;
 color: black;
}

body > aside > img {
 display: block;
 width: 100%;
 height: auto;
 background-color: white;
 color: black;
}

body > main {
 background-color: white;
 color: black;
 padding-left: 1em;
 padding-right: 1em;
}

body > main > section {
 border-radius: 5px;
}

body > main > #dimension-desktops {
 background-color: #999933;
}

body > main > #optiflex-desktops {
 background-color: #cc6666;
}

body > main > #latitude-notebooks {
 background-color: #cccc66;
}

body > main > #poweredge-servers {
 background-color: #6666cc;
}

body > main > #dellware {
 background-color: #6699cc;
}

body > main > section > h2 {
 font-size: 14pt;
 background-color: white;
 border: solid black;
}

body > main > nav {
 margin-top: 3em;
 margin-bottom: 2em;
}

body > main > nav > ul {
 list-style-type: none;
 padding: 0;
 display: flex;
 width: 100%;
 justify-content: space-around;
}

body > main > nav > ul > li {
 background-color: pink;
}

body > footer {
 grid-column: 2 / 3;
 background-color: white;
 color: black;
 padding-left: 1em;
 padding-right: 1em;
 text-align: center;
}

body > div {
 grid-column: 1 / -1;
 background-color: pink;
 color: blue;
 text-align: center;
 margin-top: 1em;
}
